<div class="container">
  <div class="d-flex justify-content-between">
    <h1>Lists of Movies</h1>
    <%= link_to "Create a new list" , new_list_path %>
  </div>
  <% @lists.each do |list| %>
    <p><%= link_to list.name, list_path(list),　class: "btn btn-primary" %></p>
    <%#= link_to  %>
  <% end %>
</div>